<html>
<head>
<title>Add player</title>
</head>
<body>
<h1>Add player</h1>

<p><a href="/">Return to player list</a></p>

<form method="post" action="add-player-submit">
<table>
<tr>
<td>First name:</td>
<td><input name="firstName" value="{{ player.firstName }}"></td>
</tr>
<tr>
<td>Last name:</td>
<td><input name="lastName" value="{{ player.lastName }}"></td>
</tr>
<tr>
<td>Telephone:</td>
<td><input name="telephone" value="{{ player.telephone }}"></td>
</tr>
<tr>
<td>Email address:</td>
<td><input name="emailAddress" value="{{ player.emailAddress }}"></td>
</tr>
</table>
<p><input type="submit" value="Save">
</form>

</body>
</html>
