<html>
<head>
<title>Edit player</title>
</head>
<body>
<h1>Edit player</h1>

<p><a href="/">Return to player list</a></p>

<form method="post" action="edit-submit">
{% include 'player-form.twig' %}
<p><input type="submit" value="Save">
</form>

</body>
</html>
