<html>
<head>
<title>Scrabble player profile</title>
</head>
<body>
<h1>Scrabble player profile: {{ player.firstName }} {{ player.lastName }}</h1>

<p><a href="/">Return to player list</a></p>

<h2>General stats</h2>

<table border="1">
<tr>
<td><strong>Average score:</strong></td>
<td>{{ averageScore }}</td>
</tr>
<tr>
<td><strong>Number of wins:</strong></td>
<td>{{ numberOfWins }}</td>
</tr>
<tr>
<td><strong>Number of losses:</strong></td>
<td>{{ numberOfLosses }}</td>
</tr>
</table>

<h2>Highest score</h2>

<table border="1">
<tr>
<td><strong>Score:</strong></td>
<td>{{ highestScore.score }}</td>
</tr>
<tr>
<td><strong>Against:</strong></td>
<td>{{ highestScore.againstPlayer.firstName }} {{ highestScore.againstPlayer.lastName }}</td>
</tr>
<tr>
<td><strong>Where:</strong></td>
<td>{{ highestScore.where.name }}</td>
</tr>
<tr>
<td><strong>When:</strong></td>
<td>{{ highestScore.when }}</td>
</tr>
</table>

</body>
</html>



