<html>
<head>
<title>Scrabble player profile</title>
</head>
<body>
<h1>Scrabble player profile: {{ player.firstName }} {{ player.lastName }}</h1>

<p>The profile for this player is not available as they've not yet played any games.</p>

<p><a href="/">Return to player list</a></p>

</body>
</html>



