<html>
<head>
<title>Scrabble players</title>
</head>
<body>
<h1>Scrabble players</h1>

<p><a href="/add-player">Add player</a></p>

<table border="1">
{% for player in players %}
<tr>
<td>{{ player.firstName }} {{ player.lastName }}</td>
<td><a href="/player/{{ player.playerId }}/profile">Show profile</a></td>
<td><a href="/player/{{ player.playerId }}/edit">Edit details</a></td>
</tr>
{% endfor %}
</table>
</body>

</html>
