<table>
<tr>
<td>First name:</td>
<td><input name="firstName" value="{{ player.firstName }}"></td>
</tr>
<tr>
<td>Last name:</td>
<td><input name="lastName" value="{{ player.lastName }}"></td>
</tr>
<tr>
<td>Telephone:</td>
<td><input name="telephone" value="{{ player.telephone }}"></td>
</tr>
<tr>
<td>Email address:</td>
<td><input name="emailAddress" value="{{ player.emailAddress }}"></td>
</tr>
</table>

